<table style='background-color: #f38f1d; border-radius: 10px; color: black; text-align: center; width: 300px;'>
<tr><td>
	Did you know you can text a librarian at 616-951-4775?<br>All questions accepted.
</td></tr>
</table>
